<%= form_with(model: goal_unit, local: true) do |form| %>
  <% if goal_unit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(goal_unit.errors.count, "error") %> prohibited this goal_unit from being saved:</h2>

      <ul>
      <% goal_unit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :singular_name %>
    <%= form.text_field :singular_name, id: :goal_unit_singular_name %>
  </div>

  <div class="field">
    <%= form.label :plural_name %>
    <%= form.text_field :plural_name, id: :goal_unit_plural_name %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.number_field :status, id: :goal_unit_status %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
