<%= form_with(model: position, local: true) do |form| %>
  <% if position.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(position.errors.count, "error") %> prohibited this position from being saved:</h2>

      <ul>
      <% position.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :position_name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :position_description %>
  </div>

  <div class="field">
    <%= form.label :position_id %>
    <%= form.select :position_id, options_for_select(NextSgad::Position.all.map{|v| [v.name, v.id]}) %>
  </div>

  <div class="field">
    <%= form.label :department_id %>
    <%= form.select :department_id, options_for_select(NextSgad::Department.all.map{|v| [v.name, v.id]}) %>
  </div>

  <div class="field">
    <%= form.label :employee_id %>
    <%= form.select :employee_id, options_for_select(NextSgad::Employee.all.map{|v| [v.name, v.id]}) %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
