<!-- <div id="orgchart" data-orgchart-type="1"></div>
<div id="edit-panel" class="">
  <span id="chart-state-panel" class="radio-panel">
    <input type="radio" name="chart-state" id="rd-view" value="view" checked="true"><label for="rd-view">View</label>
    <input type="radio" name="chart-state" id="rd-edit" value="edit"><label for="rd-edit">Edit</label>
  </span>
  <label class="selected-node-group">selected node:</label>
  <input type="text" id="selected-node" class="selected-node-group">
  <label>new node:</label>
  <ul id="new-nodelist">
    <li><input type="text" class="new-node"></li>
  </ul>
  <i class="fa fa-plus-circle btn-inputs" id="btn-add-input"></i>
  <i class="fa fa-minus-circle btn-inputs" id="btn-remove-input"></i>
  <span id="node-type-panel" class="radio-panel">
    <input type="radio" name="node-type" id="rd-parent" value="parent"><label for="rd-parent">Parent(root)</label>
    <input type="radio" name="node-type" id="rd-child" value="children"><label for="rd-child">Child</label>
    <input type="radio" name="node-type" id="rd-sibling" value="siblings"><label for="rd-sibling">Sibling</label>
  </span>
  <button type="button" id="btn-add-nodes">Add</button>
  <button type="button" id="btn-delete-nodes">Delete</button>
  <button type="button" id="btn-reset">Reset</button>
</div>

<p id="notice"><%= notice %></p> -->

<h1>Positions</h1>


<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric">Posição</th>
      <th class="mdl-data-table__cell--non-numeric">Empregado</th>
      <th class="mdl-data-table__cell--non-numeric">Nível</th>
      <th class="mdl-data-table__cell--non-numeric">Escalão</th>
    </tr>
  </thead>
  <tbody>
    <% @positions.each do |position| %>
      <tr>
        <td><%= position.name %></td>
        <td><%= position.description %></td>
        <td><%= position.next_sgad_position&.name %></td>
        <td><%= position.department %></td>
        <td><%= position.employee %></td>
        <td><%= position.number %></td>
        <td><%= link_to 'Show', position %></td>
        <td><%= link_to 'Edit', edit_position_path(position) %></td>
        <td><%= link_to 'Destroy', position, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    <tr>
      <td class="mdl-data-table__cell--non-numeric"></td>
      <td></td>
      <td></td>
    </tr>

  </tbody>
</table>



<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Position</th>
      <th>Department</th>
      <th>Employee</th>
      <th>Number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @positions.each do |position| %>
      <tr>
        <td><%= position.name %></td>
        <td><%= position.description %></td>
        <td><%= position.next_sgad_position&.name %></td>
        <td><%= position.department %></td>
        <td><%= position.employee %></td>
        <td><%= position.number %></td>
        <td><%= link_to 'Show', position %></td>
        <td><%= link_to 'Edit', edit_position_path(position) %></td>
        <td><%= link_to 'Destroy', position, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


