<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @position.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @position.description %>
</p>

<p>
  <strong>Position:</strong>
  <%= @position.position_id %>
</p>

<p>
  <strong>Department:</strong>
  <%= @position.department %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @position.employee %>
</p>

<p>
  <strong>Number:</strong>
  <%= @position.number %>
</p>

<%= link_to 'Edit', edit_position_path(@position) %> |
<%= link_to 'Back', positions_path %>
