<!DOCTYPE html>
<html>
<head>
  <title>Next sgad</title>
  <%= stylesheet_link_tag    "next_sgad/application", media: "all" %>
  <%= javascript_include_tag "next_sgad/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
