<%= form_with(model: attendance, local: true) do |form| %>
  <% if attendance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(attendance.errors.count, "error") %> prohibited this attendance from being saved:</h2>

      <ul>
      <% attendance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :date %>
    <%= form.datetime_select :date, id: :attendance_date %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.number_field :status, id: :attendance_status %>
  </div>

  <div class="field">
    <%= form.label :employee_note %>
    <%= form.text_area :employee_note, id: :attendance_employee_note %>
  </div>

  <div class="field">
    <%= form.label :supervisor_note %>
    <%= form.text_area :supervisor_note, id: :attendance_supervisor_note %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
