<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @attendance.date %>
</p>

<p>
  <strong>Status:</strong>
  <%= @attendance.status %>
</p>

<p>
  <strong>Employee note:</strong>
  <%= @attendance.employee_note %>
</p>

<p>
  <strong>Supervisor note:</strong>
  <%= @attendance.supervisor_note %>
</p>

<%= link_to 'Edit', edit_attendance_path(@attendance) %> |
<%= link_to 'Back', attendances_path %>
