<%= form_with(model: message, local: true) do |form| %>
  <% if message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
      <% message.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :message_title %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body, id: :message_body %>
  </div>

  <div class="field">
    <%= form.label :signature %>
    <%= form.text_field :signature, id: :message_signature %>
  </div>

  <div class="field">
    <%= form.label :send_to_all %>
    <%= form.check_box :send_to_all, id: :message_send_to_all %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.number_field :status, id: :message_status %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
