<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @message.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @message.body %>
</p>

<p>
  <strong>Signature:</strong>
  <%= @message.signature %>
</p>

<p>
  <strong>Send to all:</strong>
  <%= @message.send_to_all %>
</p>

<p>
  <strong>Status:</strong>
  <%= @message.status %>
</p>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
