<%= form_with(model: employee_goal, local: true) do |form| %>
  <% if employee_goal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employee_goal.errors.count, "error") %> prohibited this employee_goal from being saved:</h2>

      <ul>
      <% employee_goal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :self_assessment %>
    <%= form.number_field :self_assessment, id: :employee_goal_self_assessment %>
  </div>

  <div class="field">
    <%= form.label :supervisor_assessment %>
    <%= form.number_field :supervisor_assessment, id: :employee_goal_supervisor_assessment %>
  </div>

  <div class="field">
    <%= form.label :final_assessment %>
    <%= form.number_field :final_assessment, id: :employee_goal_final_assessment %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.number_field :status, id: :employee_goal_status %>
  </div>

  <div class="field">
    <%= form.label :percentage %>
    <%= form.text_field :percentage, id: :employee_goal_percentage %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
