<p id="notice"><%= notice %></p>

<h1>Employee Goals</h1>

<table>
  <thead>
    <tr>
      <th>Self assessment</th>
      <th>Supervisor assessment</th>
      <th>Final assessment</th>
      <th>State</th>
      <th>Percentage</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employee_goals.each do |employee_goal| %>
      <tr>
        <td><%= employee_goal.self_assessment %></td>
        <td><%= employee_goal.supervisor_assessment %></td>
        <td><%= employee_goal.final_assessment %></td>
        <td><%= employee_goal.status %></td>
        <td><%= employee_goal.percentage %></td>
        <td><%= link_to 'Show', employee_goal %></td>
        <td><%= link_to 'Edit', edit_employee_goal_path(employee_goal) %></td>
        <td><%= link_to 'Destroy', employee_goal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Employee Goal', new_employee_goal_path %>
