<p id="notice"><%= notice %></p>

<p>
  <strong>Self assessment:</strong>
  <%= @employee_goal.self_assessment %>
</p>

<p>
  <strong>Supervisor assessment:</strong>
  <%= @employee_goal.supervisor_assessment %>
</p>

<p>
  <strong>Final assessment:</strong>
  <%= @employee_goal.final_assessment %>
</p>

<p>
  <strong>State:</strong>
  <%= @employee_goal.status %>
</p>

<p>
  <strong>Percentage:</strong>
  <%= @employee_goal.percentage %>
</p>

<%= link_to 'Edit', edit_employee_goal_path(@employee_goal) %> |
<%= link_to 'Back', employee_goals_path %>
