<%= form_with(model: assessment, local: true) do |form| %>
  <% if assessment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(assessment.errors.count, "error") %> prohibited this assessment from being saved:</h2>

      <ul>
      <% assessment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :year %>
    <%= form.text_field :year, id: :assessment_year %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.number_field :status, id: :assessment_status %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
