<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @assessment.year %>
</p>

<p>
  <strong>State:</strong>
  <%= @assessment.status %>
</p>

<%= link_to 'Edit', edit_assessment_path(@assessment) %> |
<%= link_to 'Back', assessments_path %>
