<%= form_with(model: configuration, local: true) do |form| %>
  <% if configuration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(configuration.errors.count, "error") %> prohibited this configuration from being saved:</h2>

      <ul>
      <% configuration.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :configuration_name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :configuration_description %>
  </div>

  <div class="field">
    <%= form.label :version %>
    <%= form.text_field :version, id: :configuration_version %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
