<%= form_with(model: result, local: true) do |form| %>
  <% if result.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(result.errors.count, "error") %> prohibited this result from being saved:</h2>

      <ul>
      <% result.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :note %>
    <%= form.text_field :note, id: :result_note %>
  </div>

  <div class="field">
    <%= form.label :attachment %>
    <%= form.text_field :attachment, id: :result_attachment %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.number_field :state, id: :result_state %>
  </div>

  <div class="field">
    <%= form.label :result_type %>
    <%= form.number_field :result_type, id: :result_result_type %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
