<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @employee.full_name %>
</p>

<p>
  <strong>Number:</strong>
  <%= @employee.number %>
</p>

<p>
  <strong>Level:</strong>
  <%= @employee.level %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
