<p id="notice"><%= notice %></p>

<p>
  <strong>Created by:</strong>
  <%= @activity.created_by %>
</p>

<p>
  <strong>Description:</strong>
  <%= @activity.description %>
</p>

<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Back', activities_path %>
