<%= form_with(model: employee_goal_activity, local: true) do |form| %>
  <% if employee_goal_activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employee_goal_activity.errors.count, "error") %> prohibited this employee_goal_activity from being saved:</h2>

      <ul>
      <% employee_goal_activity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :employee_goal_activity_description %>
  </div>

  <div class="field">
    <%= form.label :employee_goal_id %>
    <%= form.text_field :employee_goal_id, id: :employee_goal_activity_employee_goal_id %>
  </div>

  <div class="field">
    <%= form.label :creator_id %>
    <%= form.text_field :creator_id, id: :employee_goal_activity_creator_id %>
  </div>

  <div class="field">
    <%= form.label :attachment %>
    <%= form.text_field :attachment, id: :employee_goal_activity_attachment %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
