<p id="notice"><%= notice %></p>

<h1>Employee Messages</h1>

<table>
  <thead>
    <tr>
      <th>Message</th>
      <th>Employee</th>
      <th>Status</th>
      <th>Title</th>
      <th>Body</th>
      <th>Signature</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employee_messages.each do |employee_message| %>
      <tr>
        <td><%= employee_message.message %></td>
        <td><%= employee_message.employee %></td>
        <td><%= employee_message.status %></td>
        <td><%= employee_message.title %></td>
        <td><%= employee_message.body %></td>
        <td><%= employee_message.signature %></td>
        <td><%= link_to 'Show', employee_message %></td>
        <td><%= link_to 'Edit', edit_employee_message_path(employee_message) %></td>
        <td><%= link_to 'Destroy', employee_message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Employee Message', new_employee_message_path %>
