<p id="notice"><%= notice %></p>

<p>
  <strong>Message:</strong>
  <%= @employee_message.message %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @employee_message.employee %>
</p>

<p>
  <strong>Status:</strong>
  <%= @employee_message.status %>
</p>

<p>
  <strong>Title:</strong>
  <%= @employee_message.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @employee_message.body %>
</p>

<p>
  <strong>Signature:</strong>
  <%= @employee_message.signature %>
</p>

<%= link_to 'Edit', edit_employee_message_path(@employee_message) %> |
<%= link_to 'Back', employee_messages_path %>
