<%= form_with(model: justification, local: true) do |form| %>
  <% if justification.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(justification.errors.count, "error") %> prohibited this justification from being saved:</h2>

      <ul>
      <% justification.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :documents %>
    <%= form.text_field :documents, id: :justification_documents %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
