<p id="notice"><%= notice %></p>

<h1>Justifications</h1>

<table>
  <thead>
    <tr>
      <th>Documents</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @justifications.each do |justification| %>
      <tr>
        <td><%= justification.documents %></td>
        <td><%= link_to 'Show', justification %></td>
        <td><%= link_to 'Edit', edit_justification_path(justification) %></td>
        <td><%= link_to 'Destroy', justification, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Justification', new_justification_path %>
