<p id="notice"><%= notice %></p>

<p>
  <strong>Documents:</strong>
  <%= @justification.documents %>
</p>

<%= link_to 'Edit', edit_justification_path(@justification) %> |
<%= link_to 'Back', justifications_path %>
