/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require font-awesome
 *= require_tree .
 *= require_self
 */

 
 [data-orgchart-type="1"]{
   width: 100%;
 }

 [data-orgchart-type="1"] .orgchart{
   width: 100%;
  }


 [data-orgchart-type="1"] .orgchart .node .content{
    height: 80px;
    border: 0;
    background-color: rgba(255, 255, 255, 0);
 }

 
 [data-orgchart-type="1"] .orgchart .node .content .orgchart-avatar{
  height: 70px;
  width: 70px;
  border-radius: 50%;
  position: absolute;
  left: 14px;
}

[data-orgchart-type="1"] .orgchart .node{
  width: 220px;
}

[data-orgchart-type="1"] .orgchart .node .title {
  background-color: #0077c2;
}



[data-orgchart-type="1"] .orgchart .node .content>.orgchart-container{
  height: 60px;
  overflow: hidden;
  background-color: #0077c2;
  border-radius: 0 0 4px 4px;
}

[data-orgchart-type="1"] .orgchart .node .content .text{
  width: 135px;
  float: right;
  text-align: left;
}

[data-orgchart-type="1"] .orgchart .node .content .text p{
  margin-top: 0;
  margin-bottom: 0;
  color: #fff;
  font-family: sans-serif;
}

[data-orgchart-type="1"] .orgchart .node .content .text p:empty{
  display: none;
}


