<%= form_with(model: goal, local: true) do |form| %>
  <% if goal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(goal.errors.count, "error") %> prohibited this goal from being saved:</h2>

      <ul>
      <% goal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :goal_name %>
  </div>

  <div class="field">
    <%= form.label :references %>
    <%= form.text_field :references, id: :goal_references %>
  </div>

  <div class="field">
    <%= form.label :goal_type %>
    <%= form.number_field :goal_type, id: :goal_goal_type %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.number_field :status, id: :goal_status %>
  </div>

  <div class="field">
    <%= form.label :nature %>
    <%= form.number_field :nature, id: :goal_nature %>
  </div>

  <div class="field">
    <%= form.label :unit %>
    <%= form.number_field :unit, id: :goal_unit %>
  </div>

  <div class="field">
    <%= form.label :target %>
    <%= form.text_field :target, id: :goal_target %>
  </div>

  <div class="field">
    <%= form.label :percentage_on_the_type %>
    <%= form.text_field :percentage_on_the_type, id: :goal_percentage_on_the_type %>
  </div>

  <div class="field">
    <%= form.label :percentage %>
    <%= form.text_field :percentage, id: :goal_percentage %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
