<p id="notice"><%= notice %></p>

<h1>Goals</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Goal type</th>
      <th>State</th>
      <th>Nature</th>
      <th>Unit</th>
      <th>Target</th>
      <th>Percentage on the type</th>
      <th>Percentage</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @goals.each do |goal| %>
      <tr>
        <td><%= goal.name %></td>
        <td><%= goal.goal_type %></td>
        <td><%= goal.status %></td>
        <td><%= goal.nature %></td>
        <td><%= goal.unit %></td>
        <td><%= goal.target %></td>
        <td><%= goal.percentage_on_the_type %></td>
        <td><%= goal.percentage %></td>
        <td><%= link_to 'Show', goal %></td>
        <td><%= link_to 'Edit', edit_goal_path(goal) %></td>
        <td><%= link_to 'Destroy', goal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Goal', new_goal_path %>
