<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @goal.name %>
</p>

<p>
  <strong>References:</strong>
  <%= @goal.references %>
</p>

<p>
  <strong>Goal type:</strong>
  <%= @goal.goal_type %>
</p>

<p>
  <strong>State:</strong>
  <%= @goal.status %>
</p>

<p>
  <strong>Nature:</strong>
  <%= @goal.nature %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @goal.unit %>
</p>

<p>
  <strong>Target:</strong>
  <%= @goal.target %>
</p>

<p>
  <strong>Percentage on the type:</strong>
  <%= @goal.percentage_on_the_type %>
</p>

<p>
  <strong>Percentage:</strong>
  <%= @goal.percentage %>
</p>

<%= link_to 'Edit', edit_goal_path(@goal) %> |
<%= link_to 'Back', goals_path %>
